/* Variables */

:root {
    --title-row-height: 60px;
}

* {
    font-family: 'Courier New', Courier, monospace;

}

body {
    width: 50%;
    position: relative;
    left: 25%;
}

/* Header and Navigation Section CSS */
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: space-between;
}

nav {
    display: inline-flex;
    margin: auto;
}

nav h2 {
    margin: auto 1rem;
    font-size: 1em;
    position: relative;
}

#active-nav {
    color: midnightblue;
    text-decoration: underline;
}

/* General Section CSS */
section {
    display: grid;
}

section h2 {
    justify-self: center;
    text-decoration: underline;
}

ul {
    list-style-type: bullet;
}

/* About Me Section CSS */
#about {
    grid-template-rows: var(--title-row-height) 1fr;
}